@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Montserrat:wght@100&family=Oswald:wght@300&family=Outfit:wght@100..900&family=Playfair+Display:wght@500&family=Rubik:ital,wght@1,300&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}

a{
  text-decoration: none;
  color: inherit;
}

hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}

.app-content{
  display: flex;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 12px;
}